-- IRIDA mysql configuration 

-- Create irida user for mysql

GRANT ALL PRIVILEGES ON *.* TO 'irida_user'@'localhost' IDENTIFIED BY 'irida_passwd';

SET GLOBAL sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));